main>div{
    width: calc(100vw - 40px);
    margin: 20px;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

main>div>img {
    width: 300px;
    max-height: 150px;
}

@media screen and (min-width: 800px) {
    main>dic {
        width: calc(100vw - 50px);
        margin: 25px
    }
}