#my_introduction {
    position: absolute;
    top: 20px;
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}

#my_introduction figure {
    width: 200px;
    height: 200px;
}

#my_introduction p:nth-child(4) {
    font-weight: bold;
}

.cloud {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: -5px 0;
    background-repeat: repeat-x;    
    background-size: contain;
    background-image: url("../pictures/cloud.png"),
            linear-gradient(180deg, rgba(208,126,255,1) 0%, rgba(151,126,255,1) 50%, rgba(126,147,255,1));
}

.content_container {
    text-align: center;
}

#contact_box {
    margin: 0 20px;
    width: 50%;
    min-height: 260px; 
    display: flex;
    flex-direction: column;
}

#contact_box>div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

#contact_box>div::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 50%;
}

#contact_box>div>div {
    display: inline;
}

.img_banner {
    width: 100%;
    height: 600px;
    margin: 0;
}

@media screen and (min-width: 768px) {
    #contact_box {
        width: 33%;
    }

    #contact_box h3 {
        align-self: center;
    }

    #contact_box>div {
        flex-direction: row;
        gap: 40px;
    }

    #contact_box>div::after {
        width: 1px;
        height: 100%;
        left: 50%;
        top: auto;
    }
}


@media screen and (min-width: 1200px) {
    #my_introduction {
        top: 40px;
    }

    #my_introduction figure {
    width: 300px;
    height: 300px;
    }

    .img_banner {
        width: 100%;
        height: 800px;
        margin: 0;
    }
}

