*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: 'Noto Sans SC', sans-serif;
}

/*******************************************
    FONTS
*******************************************/

p, li, a {
    font-weight: 300;
    font-size: 16px;
}

h2 {
    font-weight: 700;
    font-size: 32px;
    margin: 16px 0;
}

h3, legend {
    font-weight: 500;
    font-size: 22px;
    margin: 8px 0;
}



/******************************************
    HEADER
******************************************/

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px 50px 25px 30px;
    background-color: #4c395e;
}

header a {
    color: rgb(249, 240, 255);
    font-size: 32px;
    text-decoration: none;
    transition: 0.5s;
}

header a:hover {
    color: #b39db3;
}

header figure {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: 0;
    z-index: 1;
    top: 0;
    left: 0;
}

header img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/******************************************
    MAIN
******************************************/

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, #b39db3,#9e7fa0);
}


/******************************************
    FOOTER
******************************************/

footer {
    background-color: #3d3f57;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}

@media screen and (min-width: 800px) {
    footer {
        flex-direction: row;
    }
}

footer div {
    display: flex;
    align-items: center;
}

footer .icons {
    display: flex;
}

footer figure {
    width: 30px;
    height: 30px;
    margin: 20px;
}

footer img {
    width: 100%;
}